/**
 RSVP for Tribe.im
 **/

@import url(http://fonts.googleapis.com/css?family=Yellowtail|Special+Elite|Marvel:700|Cookie|Josefin+Sans:600|Kreon:300,400,700|Yanone+Kaffeesatz:300,400);

.animated.loop {
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.animated.slow {
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-ms-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
}
.animated.fast {
	-webkit-animation-duration: .4s;
	-moz-animation-duration: .4s;
	-ms-animation-duration: .4s;
	-o-animation-duration: .4s;
	animation-duration: .4s;
}

::selection {
	background: #DEBF78;
	color: #fff;
	text-shadow: none;
}

[hidden] {
	display: none;
}

html {
	min-height: 100%;
	min-width: 100%;
}

#desk {
	background-image: url(images/bg_woodburnt.jpg);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-origin: padding;
	background-clip: padding-box;
	margin: 0 0 -200px 0;
}

#menu {
	height: 60px;
	position: absolute;
	top: -60px;
	width: 960px;
}
	#menu > ul {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 0 0 100px;
		text-align: center;
		width: 100%;
	}
	#menu > ul > li {
		display: inline;
	}
	#menu > ul > li > a {
		color: #57381e;
		display: inline-block;
		font-family: Kreon;
		font-size: 1.2em;
		font-weight: 700;
		margin: 0.8em 0.1em;
		text-decoration: none;
		text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
		padding: 0.3em 0.8em;
		vertical-align: top;

		-moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		-o-transition: all .1s ease-in-out;
		-webkit-transition: background-color .1s ease-in-out;
		transition: all .1s ease-in-out;
	}
	#menu > ul > li > a:hover {
		background-color: rgba(99, 48, 0, 0.6);
		color: white;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}
	#menu > ul > li > a:active {
		padding: 0.35em 0.8em 0.25em 0.8em;
	}
	#menu > ul > li:first-child {
		height: 100%;
		left: 0;
		position: absolute;
	}
	#menu > ul > li:first-child {
	}
	#menu > ul > li:first-child > a {
		background: url(images/logo.png) left center no-repeat;
		background-size: contain;
		height: 100%;
		margin: 0;
		padding: 0;
		width: 110px;
		/* Malarkey Image Replacement */
		letter-spacing: normal;
		text-indent: -9999px;
		overflow: hidden;
	}
	#menu > ul > li:first-child:active {
		top: 2px;
	}

#github {
	background: no-repeat url(images/forkmeonce.png);
	height: 158px;
	display: inline-block;
	position: relative;
	right: -33px;
	top: -3px;
	width: 167px;

	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;

	/* Malarkey Image Replacement */
	letter-spacing: normal;
	text-indent: -9999px;
	overflow: hidden;
}
	#github:hover {
		top: -5px;
	}
	#github:active {
		top: -1px;
	}

#sheet {
	background:
		url(images/bg_crumpled_top.jpg) left top no-repeat,
		url(images/bg_crumpled_btm.jpg) left bottom no-repeat,
		#e6e6e6;
	background-clip: padding-box;
	border-width: 10px 10px 22px 10px;
	-moz-border-image: url(images/bg_crumpled_frame.png) 10 10 22 10 stretch;
	-webkit-border-image: url(images/bg_crumpled_frame.png) 10 10 22 10 stretch;
	-o-border-image: url(images/bg_crumpled_frame.png) 10 10 22 10 stretch;
	border-image: url(images/bg_crumpled_frame.png) 10 10 22 10 stretch;
	margin: 0 auto 20px auto;
	min-height: 800px;
	padding: 0 0 4em 0;
	position: relative;
	text-align: left;
	top: 50px;
	width: 960px;
	z-index: 10;
}
	#sheet > footer {
		position: absolute;
		top: 0;
		right: 0;
	}

article {
	padding: 3em 0 1em 0;
	text-align: center;
}
	article > header > hgroup > h1 {
		display: none;
	}
	article > header > hgroup > h2 {
		margin: 0 0 0.5em 0;
		color: #333;
		font-family: Kreon;
		font-size: 2em;
		font-weight: 700;
		text-shadow:
			0 0 2px rgba(255, 255, 255, 1),
			1px 1px 2px rgba(0, 0, 0, 0.25)
	}
	article > p,
	article > ul {
		color: #333;
		display: inline-block;
		font-family: "Yanone Kaffeesatz";
		font-size: 1.3em;
		font-weight: 300;
		line-height: 1.35em;
		width: 75%;
		margin: 0 0 0.5em 0;
		text-align: left;
		text-shadow:
			0 0 1px rgba(255, 255, 255, 1),
			1px 1px 2px rgba(0, 0, 0, 0.25);
	}
	article > p > i {
		background-color: rgba(255, 255, 0, 0.4);
		background-clip: padding-box;
		border-width: 0 10px 0 10px;
		-moz-border-image: url(images/bg_marker.png) 0 10 0 10 round;
		-webkit-border-image: url(images/bg_marker.png) 0 10 0 10 round;
		-o-border-image: url(images/bg_marker.png) 0 10 0 10 round;
		border-image: url(images/bg_marker.png) 0 10 0 10 round;
		box-decoration-break: clone;
		color: inherit;
		font-style: normal;
		font-weight: 400;
		margin: 0 -10px;
	}
	article ul {
		list-style-type: none;
	}
	article li {
	}
	article h3 {
		font-weight: bold;
	}
	article > ul {
		-moz-column-gap: 0.5em;
		-webkit-column-gap: 0.5em;
		column-gap: 0.5em;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	article > ul > li {
		display: inline-block;
		width: 100%;
		margin: 0.5em 0;
	}

#product {
	margin-top: 400px;
}

#introduction {
	padding: 3em 0 1em 0;
	text-align: center;
}
	#introduction h2 {
		font-size: 3em;
	}

#invitation {
	position: absolute;
	visibility: hidden;
}

#envelope {
	background: url(images/bg_envelope.jpg) left top no-repeat;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.75);
	height: 400px;
	left: 120px;
	position: relative;
	top: 20px;
	width: 700px;

	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);

	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
	@-webkit-keyframes envelope-sending {
		50% { -webkit-transform: rotate(1deg); }
		0%, 100% { -webkit-transform: rotate(-3deg); }
	}
	@-moz-keyframes envelope-sending {
		50% { -moz-transform: rotate(1deg); }
		0%, 100% { -moz-transform: rotate(-3deg); }
	}
	@-ms-keyframes envelope-sending {
		50% { -moz-transform: rotate(1deg); }
		0%, 100% { -moz-transform: rotate(-3deg); }
	}
	@-o-keyframes envelope-sending {
		50% { -o-transform: rotate(1deg); }
		0%, 100% { -o-transform: rotate(-3deg); }
	}
	@keyframes envelope-sending {
		50% { transform: rotate(1deg); }
		0%, 100% { transform: rotate(-3deg); }
	}
	#envelope.sending {
		-webkit-animation: envelope-sending 0.75s infinite ease;
		-moz-animation: envelope-sending 0.75s infinite ease;
		-ms-animation: envelope-sending 0.75s infinite ease;
		-o-animation: envelope-sending 0.75s infinite ease;
		animation: envelope-sending 0.75s infinite ease;
	}
	#envelope.success {
		-webkit-animation: bounceOutRight 0.75s ease;
		-moz-animation: bounceOutRight 0.75s ease;
		-ms-animation: bounceOutRight 0.75s ease;
		-o-animation: bounceOutRight 0.75s ease;
		animation: bounceOutRight 0.75s ease;
	}
	#airmail {
		bottom: 18px;
		color: #974239;
		left: 27px;
		font-size: 1.5em;
		font-family: "Special Elite";
		position: absolute;
		text-transform: uppercase;
	}
	#postage {
		color: #974239;
		font-family: "Marvel";
		position: absolute;
		text-transform: uppercase;
		right: 22px;
		top: 25px;
		width: 95px;
		text-align: center;
		font-size: 1.15em;
		line-height: 1.25em;
	}
	#to {
		color: #2f2f5b;
		font-size: 2em;
		font-family: Yellowtail;
		position: absolute;
		top: 130px;
		left: 200px;
	}
	#to:after {
		content: ":";
	}
	#addressee {
		color: #2f2f5b;
		font-size: 3em;
		font-family: Yellowtail;
		position: absolute;
		top: 170px;
		left: 270px;
	}

#rsvp {
	background:
		url(images/card_motifs.png) center 12px no-repeat,
		url(images/bg_card.jpg) center repeat;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
	height: 400px;
	left: 130px;
	position: absolute;
	top: 0;
	width: 700px;
}
	#rsvp > form {
		text-align: center;
	}
	#rsvp > form > h2 {
		color: #a15637;
		font-family: Cookie;
		font-size: 3em;
		margin: 20px 0 0 0;
		text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.75);
	}
	#rsvp > form > p {
		color: #404040;
		font-family: Kreon;
		font-size: 1.5em;
		margin: 50px 0 0 0;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	}
	#rsvp > form > p:last-of-type {
		margin: 40px 0 0 0;
	}
	#rsvp > form > .field {
		display: inline-block;
		margin: 15px 0;
		position: relative;
		width: 400px;
	}
	#rsvp > form > .field:first-of-type {
		margin: 20px 0 0 0;
	}
	#rsvp > form > .field > input[type="text"],
	#rsvp > form > .field > input[type="email"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: normal;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: #4b483f;
		background-color: transparent;
		border-width: 0 0 1px 0;
		border-color: #696969;
		font-family: Cookie;
		font-size: 2.2em;
		height: 44px;
		margin: 0;
		outline: none;
		padding: 0 0 4px 0;
		text-align: center;
		width: 100%;
	}
	#rsvp > form > .field > input[type="text"]::-webkit-input-placeholder,
	#rsvp > form > .field > input[type="email"]::-webkit-input-placeholder {
		text-align: center;
		color: #909090;
	}
	#rsvp > form > .field > label {
		border-top: 1px solid white;
		color: #404040;
		font-family: Kreon;
		font-size: 0.8em;
		font-weight: 300;
		left: 0;
		padding-top: 1px;
		position: absolute;
		text-align: left;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		top: 44px;
		width: 100%;
	}
	#rsvp > form > p > input[type="submit"] {
		background: url(images/card_button.png) no-repeat center;
		border: 0 none;
		color: #a15637;
		cursor: pointer;
		font-family: Cookie;
		font-size: 1.25em;
		height: 41px;
		margin: 0;
		outline: none;
		padding: 5px 0;
		text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.75);
		width: 155px;

		-moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		-o-transition: all .1s ease-in-out;
		-webkit-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}
	#rsvp > form > p > input[type="submit"]:hover {
	}
	#rsvp > form > p > input[type="submit"]:active {
		padding: 7px 0;
	}

#sticky {
	background: url(images/sticky.png) 0 -2px no-repeat rgba(0, 0, 0, 0.20);
	box-shadow: 1px 5px 2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #a80000;
	cursor: pointer;
	font-family: "Yanone Kaffeesatz";
	font-size: 1.1em;
	font-weight: 300;
	height: 160px;
	overflow-y: auto;
	padding: 1em;
	position: absolute;
	right: -30px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
	top: 170px;
	visibility: hidden;
	width: 160px;
}
	#sticky:hover {
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}

#postcard {
	cursor: pointer;
	-moz-perspective: 1200;
	-ms-perspective: 1200;
	-o-perspective: 1200;
	-webkit-perspective: 1200;
	perspective: 1200;
	position: absolute;
	visibility: hidden;
}
#postcard #front,
#postcard #back {
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
#postcard.show_front #front {
	z-index: 20;
	-moz-transform: rotateY(0deg) rotate(2deg);
	-ms-transform: rotateY(0deg) rotate(2deg);
	-o-transform: rotateY(0deg) rotate(2deg);
	-webkit-transform: rotateY(0deg) rotate(2deg);
	transform: rotateY(0deg) rotate(2deg);
}
#postcard.show_front #back {
	z-index: 10;
	-moz-transform: rotateY(-180deg) rotate(-2deg);
	-ms-transform: rotateY(-180deg) rotate(-2deg);
	-o-transform: rotateY(-180deg) rotate(-2deg);
	-webkit-transform: rotateY(-180deg) rotate(-2deg);
	transform: rotateY(-180deg) rotate(-2deg);
}
#postcard.show_back #front {
	z-index: 20;
	-moz-transform: rotateY(180deg) rotate(2deg);
	-ms-transform: rotateY(180deg) rotate(2deg);
	-o-transform: rotateY(180deg) rotate(2deg);
	-webkit-transform: rotateY(180deg) rotate(2deg);
	transform: rotateY(180deg) rotate(2deg);
}
#postcard.show_back #back {
	z-index: 30;
	-moz-transform: rotateY(0deg) rotate(-2deg);
	-ms-transform: rotateY(0deg) rotate(-2deg);
	-o-transform: rotateY(0deg) rotate(-2deg);
	-webkit-transform: rotateY(0deg) rotate(-2deg);
	transform: rotateY(0deg) rotate(-2deg);
}

#front {
	background: url(images/postcard_photo01.jpg) no-repeat white;
	background:
		-moz-radial-gradient(
			120% 105%,
			cover,
			transparent 50%,
			rgba(255, 255, 255, 0.07) 69.5%,
			transparent 70%,
			transparent 100%
		) no-repeat 0px 0px,
		url(images/postcard_photo01.jpg) no-repeat white;
	background:
		-ms-radial-gradient(
			120% 105%,
			cover,
			transparent 50%,
			rgba(255, 255, 255, 0.07) 69.5%,
			transparent 70%,
			transparent 100%
		) no-repeat 0px 0px,
		url(images/postcard_photo01.jpg) no-repeat white;
	background:
		-o-radial-gradient(
			120% 105%,
			cover,
			transparent 50%,
			rgba(255, 255, 255, 0.07) 69.5%,
			transparent 70%,
			transparent 100%
		) no-repeat 0px 0px,
		url(images/postcard_photo01.jpg) no-repeat white;
	background:
		-webkit-radial-gradient(
			120% 105%,
			cover,
			transparent 50%,
			rgba(255, 255, 255, 0.07) 69.5%,
			transparent 70%,
			transparent 100%
		) no-repeat 0px 0px,
		url(images/postcard_photo01.jpg) no-repeat white;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
	height: 400px;
	left: 120px;
	position: absolute;
	width: 700px;
}

#slogan {
	background: url(images/uniquelySG.png) no-repeat;
	height: 42px;
	display: inline-block;
	position: absolute;
	left: 26px;
	bottom: 20px;
	width: 109px;
	/* Malarkey Image Replacement */
	letter-spacing: normal;
	text-indent: -9999px;
	overflow: hidden;
}

#back {
	background: url(images/postcard_back.jpg) no-repeat white;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
	height: 400px;
	left: 120px;
	position: absolute;
	width: 700px;
}

#greeting {
	position: absolute;
	left: 10px;
	top: 10px;
	padding: 1.5em 0 0 2em;
	color: #5e5e5e;
	font-family: Yellowtail;
	font-size: 2em;
	font-weight: normal;
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
	#greeting p {
		margin: 0.7em 0;
		width: 320px;
	}

#recipient {
	position: absolute;
	top: 207px;
	right: 20px;
	width: 240px;
}

#subscriber,
#address {
	color: #5e5e5e;
	font-family: Yellowtail;
	font-size: 2em;
	font-weight: normal;
	line-height: 40px;
}

#address {
	color: blue;
	word-break: break-all;
	/* Equivalent */
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#stamp {
	background:
		url(images/postcard_stamp.png) 64px 48px no-repeat,
		url(images/postage_photo01.jpg) 135px 23px no-repeat,
		url(images/postage_stamp.png) 126px 12px no-repeat;
	height: 180px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 250px;
}

#photographer {
	color: #6d6962;
	font-family: "Josefin Sans";
	font-size: 0.8em;
	font-style: normal;
	text-transform: uppercase;
	position: absolute;
	left: -187px;
	top: 190px;
	width: 400px;
	text-align: center;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
	#photographer a {
		text-decoration: none;
		color: inherit;
	}
	#photographer:hover, #photographer a:hover {
		color: #a15637;
	}

#close {
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: url(images/icon_close.png) 8px center no-repeat;
	position: absolute;
	margin: 0;
	padding: 0;
	top: -10px;
	left: 805px;
	z-index: 40;
	border-style: none;

	-moz-transition: top .1s ease-in-out;
	-ms-transition: top .1s ease-in-out;
	-o-transition: top .1s ease-in-out;
	-webkit-transition: top .1s ease-in-out;
	transition: top .1s ease-in-out;

	/* Malarkey Image Replacement */
	letter-spacing: normal;
	text-indent: -9999px;
	overflow: hidden;
}
	#close:hover {
		background: url(images/icon_close.png) -46px center no-repeat;
	}
	#close:active {
		background: url(images/icon_close.png) -46px center no-repeat;
		top: -8px;
	}

#cloth {
	background: url(images/bg_cloth.png) center center;
	background-clip: padding-box;
	border-width: 61px 0 0 0;
	-moz-border-image: url(images/bg_cloth_ribbon.png) 61 0 0 0 repeat;
	-webkit-border-image: url(images/bg_cloth_ribbon.png) 61 0 0 0 repeat;
	-o-border-image: url(images/bg_cloth_ribbon.png) 61 0 0 0 repeat;
	border-image: url(images/bg_cloth_ribbon.png) 61 0 0 0 repeat;
	padding: 180px 0 250px 0;
}
	#cloth > article {
		margin: 0 auto;
		width: 960px;
	}

#technology {
}
	#technology::before {
		box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
		content: " ";
		width: 960px;
		height: 450px;
		background: url(images/bg_blueprint.png) center center;
		position: relative;
		display: block;
		-moz-transform: rotate(-1.5deg);
		-ms-transform: rotate(-1.5deg);
		-o-transform: rotate(-1.5deg);
		-webkit-transform: rotate(-1.5deg);
		transform: rotate(-1.5deg);
		margin: 0 0 -380px 0;
	}
	#technology > * {
		z-index: 10;
		position: relative;
	}
