/**
 RSVP for Tribe.im
 **/

@import url(http://fonts.googleapis.com/css?family=Yellowtail|Pacifico|Special+Elite|Marvel:700|Cookie|Josefin+Sans:600|Dancing+Script:700|Kreon:700|Yanone+Kaffeesatz:300);

.animated.loop {
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.animated.slow {
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-ms-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
}

::selection { background: #DEBF78; color: #fff; text-shadow: none; }

html {
	min-height: 100%;
	min-width: 100%;
}

body {
	background-image: url(images/bg_woodburnt.jpg);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-origin: content-box;
	background-clip: content-box;
	min-height: 100%;
	min-width: 100%;
	text-align: center;
}

#content {
	/*
	background:
		url(images/bg_crumpled_btm.jpg) left top no-repeat,
		url(images/bg_crumpled_top.jpg) left bottom no-repeat,
		url(images/bg_paper.jpg) -8px -4px repeat,
		#f2f2f2;
	*/
	background: url(images/bg_paper.jpg) -8px -4px;
	box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.25);
	margin: 60px auto 50px auto;
	min-height: 840px;
	padding: 0 0 10px 0;
	position: relative;
	text-align: left;
	width: 960px;
}

#menu {
	background: url(images/logo.png) left 5px no-repeat;
	height: 60px;
	position: absolute;
	top: -60px;
	width: 960px;
}
	#menu > ul {
		display: none;
	}

#content > footer {
	position: absolute;
	top: 0;
	right: 0;
}

#github {
	background: no-repeat url(images/forkmeonce.png);
	height: 158px;
	display: inline-block;
	position: relative;
	right: -33px;
	top: -3px;
	width: 167px;

	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;

	/* Malarkey Image Replacement */
	letter-spacing: normal;
	text-indent: -9999px;
	overflow: hidden;
}
	#github:hover {
		top: -5px;
	}
	#github:active {
		top: -1px;
	}

#introduction {
	padding: 3em 0 1em 0;
	text-align: center;
}
	#introduction > header > h1 {
		margin: 0 0 0.5em 0;
		color: #333;
		font-family: Kreon;
		font-size: 3em;
		font-weight: normal;
		text-shadow:
			0 0 2px rgba(255, 255, 255, 1),
			1px 1px 2px rgba(0, 0, 0, 0.25)
	}
	#introduction > p {
		color: #333;
		display: inline-block;
		font-family: "Yanone Kaffeesatz";
		font-size: 1.3em;
		line-height: 1.35em;
		width: 75%;
		margin: 0 0 0.5em 0;
		text-align: left;
		text-shadow:
			0 0 1px rgba(255, 255, 255, 1),
			1px 1px 2px rgba(0, 0, 0, 0.25);
	}
	#introduction > p > i {
		background-color: rgba(255, 255, 0, 0.22);
		color: inherit;
		font-style: normal;
		font-weight: bold;
	}

#invitation {
	position: absolute;
	visibility: hidden;
}

#envelope {
	background: url(images/bg_envelope.jpg) left -1px no-repeat;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.75);
	height: 458px;
	left: 80px;
	position: relative;
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	width: 800px;
}
	@-webkit-keyframes envelope-sending {
		50% { -webkit-transform: rotate(1deg); }
		0%, 100% { -webkit-transform: rotate(-3deg); }
	}
	@-moz-keyframes envelope-sending {
		50% { -moz-transform: rotate(1deg); }
		0%, 100% { -moz-transform: rotate(-3deg); }
	}
	@-ms-keyframes envelope-sending {
		50% { -moz-transform: rotate(1deg); }
		0%, 100% { -moz-transform: rotate(-3deg); }
	}
	@-o-keyframes envelope-sending {
		50% { -o-transform: rotate(1deg); }
		0%, 100% { -o-transform: rotate(-3deg); }
	}
	@keyframes envelope-sending {
		50% { transform: rotate(1deg); }
		0%, 100% { transform: rotate(-3deg); }
	}
	#envelope.sending {
		-webkit-animation: envelope-sending 0.75s infinite ease;
		-moz-animation: envelope-sending 0.75s infinite ease;
		-ms-animation: envelope-sending 0.75s infinite ease;
		-o-animation: envelope-sending 0.75s infinite ease;
		animation: envelope-sending 0.75s infinite ease;
	}
	#envelope.success {
		-webkit-animation: bounceOutRight 0.75s ease;
		-moz-animation: bounceOutRight 0.75s ease;
		-ms-animation: bounceOutRight 0.75s ease;
		-o-animation: bounceOutRight 0.75s ease;
		animation: bounceOutRight 0.75s ease;
	}
	#airmail {
		bottom: 18px;
		color: #974239;
		left: 27px;
		font-size: 1.5em;
		font-family: "Special Elite";
		position: absolute;
		text-transform: uppercase;
	}
	#postage {
		color: #974239;
		font-family: "Marvel";
		position: absolute;
		text-transform: uppercase;
		right: 32px;
		top: 35px;
		width: 95px;
		text-align: center;
		font-size: 1.15em;
		line-height: 1.25em;
	}
	#to {
		color: #2f2f5b;
		font-size: 2em;
		font-family: "Pacifico";
		position: absolute;
		top: 150px;
		left: 220px;
	}
	#to:after {
		content: ":";
	}
	#addressee {
		color: #2f2f5b;
		font-size: 3em;
		font-family: "Pacifico";
		position: absolute;
		top: 200px;
		left: 300px;
	}

#rsvp {
	background:
		url(images/card_motifs.png) center 12px no-repeat,
		url(images/bg_card.jpg) center repeat;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
	height: 430px;
	left: 90px;
	position: absolute;
	top: 10px;
	width: 770px;
}
	#rsvp > form {
		text-align: center;
	}
	#rsvp > form > h2 {
		color: #404040;
		font-family: Cookie;
		font-size: 2.75em;
		margin: 63px 0 0 0;
		text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.75);
	}
	#rsvp > form > p {
		color: #404040;
		font-family: "Josefin Sans";
		font-size: 1.5em;
		margin: 40px 0 0 0;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	}
	#rsvp > form > .field {
		display: inline-block;
		margin: 15px 0;
		position: relative;
		width: 400px;
	}
	#rsvp > form > .field > input[type="text"],
	#rsvp > form > .field > input[type="email"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: normal;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: #303030;
		background-color: transparent;
		border-width: 0 0 1px 0;
		border-color: #696969;
		font-family: "Dancing Script";
		font-size: 2em;
		height: 44px;
		margin: 0;
		outline: none;
		padding: 0 0 4px 0;
		text-align: center;
		width: 100%;
	}
	#rsvp > form > .field > input[type="text"]::-webkit-input-placeholder,
	#rsvp > form > .field > input[type="email"]::-webkit-input-placeholder {
		text-align: center;
		color: #909090;
	}
	#rsvp > form > .field > label {
		border-top: 1px solid white;
		color: #404040;
		font-family: "Josefin Sans";
		font-size: 1em;
		left: 0;
		padding-top: 2px;
		position: absolute;
		text-align: left;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		top: 44px;
		width: 100%;
	}
	#rsvp > form > p > input[type="submit"] {
		background: url(images/ugly_button.png) no-repeat center;
		border-style: none;
		color: #ffffff;
		cursor: pointer;
		font-family: "Josefin Sans";
		font-size: 0.8em;
		height: 40px;
		outline: none;
		padding-bottom: 0.25em;
		width: 207px;
	}
	#rsvp > form > p > input[type="submit"]:hover {
		margin-top: -2px;
	}
	#rsvp > form > p > input[type="submit"]:active {
		margin-top: 2px;
	}

#sticky {
	background: url(images/sticky.png) 0 -2px no-repeat rgba(0, 0, 0, 0.20);
	box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #404040;
	font-family: "Josefin Sans";
	font-size: 1em;
	height: 160px;
	overflow-y: auto;
	padding: 1em;
	position: absolute;
	right: 10px;
	top: 200px;
	visibility: hidden;
	width: 160px;
}

#postcard {
	cursor: pointer;
	-moz-perspective: 1200;
	-ms-perspective: 1200;
	-o-perspective: 1200;
	-webkit-perspective: 1200;
	perspective: 1200;
	position: absolute;
	visibility: hidden;
}
#postcard #front,
#postcard #back {
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
#postcard.show_front #front {
	z-index: 20;
	-moz-transform: rotateY(0deg) rotate(2deg);
	-ms-transform: rotateY(0deg) rotate(2deg);
	-o-transform: rotateY(0deg) rotate(2deg);
	-webkit-transform: rotateY(0deg) rotate(2deg);
	transform: rotateY(0deg) rotate(2deg);
}
#postcard.show_front #back {
	z-index: 10;
	-moz-transform: rotateY(-180deg) rotate(-2deg);
	-ms-transform: rotateY(-180deg) rotate(-2deg);
	-o-transform: rotateY(-180deg) rotate(-2deg);
	-webkit-transform: rotateY(-180deg) rotate(-2deg);
	transform: rotateY(-180deg) rotate(-2deg);
}
#postcard.show_back #front {
	z-index: 20;
	-moz-transform: rotateY(180deg) rotate(2deg);
	-ms-transform: rotateY(180deg) rotate(2deg);
	-o-transform: rotateY(180deg) rotate(2deg);
	-webkit-transform: rotateY(180deg) rotate(2deg);
	transform: rotateY(180deg) rotate(2deg);
}
#postcard.show_back #back {
	z-index: 30;
	-moz-transform: rotateY(0deg) rotate(-2deg);
	-ms-transform: rotateY(0deg) rotate(-2deg);
	-o-transform: rotateY(0deg) rotate(-2deg);
	-webkit-transform: rotateY(0deg) rotate(-2deg);
	transform: rotateY(0deg) rotate(-2deg);
}

#front {
	background:
		-moz-radial-gradient(
			120% 105%,
			cover,
			transparent 50%,
			rgba(255, 255, 255, 0.07) 69.5%,
			transparent 70%,
			transparent 100%
		) no-repeat 0px 0px,
		url(images/postcard_photo01.jpg) no-repeat white;
	background:
		-ms-radial-gradient(
			120% 105%,
			cover,
			transparent 50%,
			rgba(255, 255, 255, 0.07) 69.5%,
			transparent 70%,
			transparent 100%
		) no-repeat 0px 0px,
		url(images/postcard_photo01.jpg) no-repeat white;
	background:
		-o-radial-gradient(
			120% 105%,
			cover,
			transparent 50%,
			rgba(255, 255, 255, 0.07) 69.5%,
			transparent 70%,
			transparent 100%
		) no-repeat 0px 0px,
		url(images/postcard_photo01.jpg) no-repeat white;
	background:
		-webkit-radial-gradient(
			120% 105%,
			cover,
			transparent 50%,
			rgba(255, 255, 255, 0.07) 69.5%,
			transparent 70%,
			transparent 100%
		) no-repeat 0px 0px,
		url(images/postcard_photo01.jpg) no-repeat white;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
	height: 400px;
	left: 120px;
	position: absolute;
	width: 700px;
}

#slogan {
	background: url(images/uniquelySG.png) no-repeat;
	height: 42px;
	display: inline-block;
	position: absolute;
	left: 26px;
	bottom: 20px;
	width: 109px;
	/* Malarkey Image Replacement */
	letter-spacing: normal;
	text-indent: -9999px;
	overflow: hidden;
}

#back {
	background: url(images/postcard_back.jpg) no-repeat white;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
	height: 400px;
	left: 120px;
	position: absolute;
	width: 700px;
}

#greeting {
	position: absolute;
	left: 10px;
	top: 10px;
	padding: 1.5em 0 0 2.5em;
	color: #5e5e5e;
	font-family: Yellowtail;
	font-size: 2em;
	font-weight: normal;
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
	#greeting p {
		margin: 0.7em 0;
	}

#recipient {
	position: absolute;
	top: 207px;
	right: 20px;
	width: 240px;
}

#subscriber,
#address {
	color: #5e5e5e;
	font-family: Yellowtail;
	font-size: 2em;
	font-weight: normal;
	line-height: 40px;
}

#address {
	color: blue;
	word-break: break-all;
}

#stamp {
	background:
		url(images/postcard_stamp.png) 64px 48px no-repeat,
		url(images/postage_photo01.jpg) 135px 23px no-repeat,
		url(images/postage_stamp.png) 126px 12px no-repeat;
	height: 180px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 250px;
}

#photographer {
	color: #6d6962;
	font-family: "Josefin Sans";
	font-size: 0.8em;
	text-transform: uppercase;
	position: absolute;
	left: -190px;
	top: 190px;
	width: 400px;
	text-align: center;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
	#photographer a {
		text-decoration: none;
		color: inherit;
	}

#close {
	width: 40px;
	height: 40px;
	background: url(images/icon_close.png) center no-repeat;
	position: absolute;
	margin: 0;
	padding: 0;
	top: -20px;
	left: 810px;
	z-index: 40;
	border-style: none;
	/* Malarkey Image Replacement */
	letter-spacing: normal;
	text-indent: -9999px;
	overflow: hidden;
}
